#staffDashBoard {
    width: 80%;
    margin: auto;
}

#allLoans {
    padding: 0;
}

.eachLoan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    border-radius: 8px;
}

.eachLoan:hover {
    border: 1px solid skyblue;
}

li {
    list-style: none;
}
