button {
  cursor: pointer;
}

.main_content {
  width: 60%;
  margin: auto;
}

a {
  text-decoration: none;
  color: skyblue;
}

a:hover {
  background-color: skyblue;
  color: white;
}

#welcome_page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.welcome_links {
  column-gap: 10px;
}

#welcome_page:hover {
  border: 1px solid skyblue;
  border-radius: 20px;
  padding: 5px;
}
